@{
    ViewBag.Title = "About xbnxnbhjxbnhjxjhbchjbchjchjchj";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<b>Esto es un texto en negrita...</b>
<p>Use this area to provide additional information.</p>
<p>Joma no me cambies esto que estoy editando yo!</p>
<div>
    <h1>Nuestro proyecto</h1>

</div>