@{
    ViewBag.Title = "About xbnxnbhjxbnhjxjhbchjbchjchjchj";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="container">
    <div class="row mb-5">
        <div class="col-lg-6">
            <p>Nombre</p>
        </div>
        <div class="col-lg-6">
            <p>Apellidos</p>
        </div>

    </div>
</div>

<b>Esto es un texto en negrita...</b>
<p>Use this area to provide additional information.</p>
<p>Joma no me cambies esto que estoy editando yo!</p>
<div>
    <h1>Nuestro proyecto</h1>
    <h1>Nuestro proyecto 2</h1>
</div>